<template>
    <header>
        <div class="container">
            <div class="d-flex align-items-center">
                <router-link :to="{ name: 'dashboard' }" class="d-flex mx-min-3 p-4 m-auto mx-md-0">
                    <div class="navbar-brand logo p-0 mr-0"></div>
                </router-link>
            </div>
        </div>
    </header>
</template>

<script>
    export default {
        mounted() {
            // console.log('Component mounted.')
        }
    }
</script>
