<template>
    <div>
        <header-component class="white"></header-component>
        <router-view class="view"></router-view>
    </div>
</template>

<script>
    import HeaderComponent from './HeaderComponent.vue';
    export default {
        mounted() {
            // console.log('Component mounted.')
        },
        components: {
            HeaderComponent,
        }
    }
</script>
