/* GLOBAL */
html {
    touch-action: manipulation;
    -ms-touch-action: manipulation
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    background: #f2f2f2;
    color: #464646 !important;
    word-wrap: break-word;
    line-height: 1.5;
}

#loading-animation img,
.loading-animation img,
#child-loading-animation img,
.child-loading-animation img {
    width: 90px;
}

.form-control {
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
    font-size: 12px;
}

select.nullable option[value=""]:first-child:not(:only-child) {
    color: #a2a2a2 !important;
}

select:not(.nullable) option[value=""]:first-child:not(:only-child) {
    display: none !important;
}

.toast-close-button {
    right: .3em;
    top: -.15em;
    font-size: 20px !important;
}

.status-indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 .5rem 0 0;
}

.status-indicator.unavailable {
    background-color: #FF372C !important;
}

.status-indicator.unavailable ~ span#statusCS {
    color: #FF372C !important;
}

.status-indicator.available {
    background-color: #39d134 !important;
}

.status-indicator.available ~ span#statusCS {
    color: #39d134 !important;
}

.status-indicator.away {
    background-color: #FEB228 !important;
}

.status-indicator.away ~ span#statusCS {
    color: #FEB228 !important;
}

.bg-white.box-shadow,
.toko-pp img {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
}

img {
    max-width: 100%;
}

/* End of GLOBAL */

/* Custom Dropzone Style */

.dropzone {
    min-height: 250px;
    border: 2px dashed #0087F7;
}

.dropzone .dz-message {
    text-align: center;
    margin: 3rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropzone .dz-message .icon-placeholder {
    color: #c5c5c5;
    font-size: 6em;
    margin-bottom: 1.5rem;
    display: flex;
}

.dropzone .dz-preview .dz-error-message {
    top: 145px;
    background: #f8d7da;
    padding: 0.5em 1.2em;
    color: #721c24;
}

.dropzone .dz-preview .dz-error-message:after {
    border-bottom: 6px solid #f8d7da;
}

/* End of Custom Dropzone Style */

@keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
}

#reconnectDiv {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #39d134;
    padding: 1rem 2rem;
    color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    z-index: 1000;
}

#loadingChat span,
#reconnectDiv span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

#loadingChat span:nth-child(2),
#reconnectDiv span:nth-child(2) {
    animation-delay: .2s;
}

#loadingChat span:nth-child(3),
#reconnectDiv span:nth-child(3) {
    animation-delay: .4s;
}

/* Custom Bootstrap */

a:not(.btn) {
    color: #464646;    
}

.btn {
    cursor: pointer;
}

.modal-content {
    border: none;
    border-radius: 0;
}

.modal-content .btn {
    border-radius: 1px;
}

.modal-header.custom {
    border: unset;
    padding: 1rem 1.5rem;
    display: block;
}

.modal-body.custom {
    padding: 0 1.5rem;
}

.modal-footer.custom {
    display: block;
    -ms-flex-align: unset;
    align-items: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
    border: unset;
    padding: 1rem 1.5rem;
}

.fade.scale .modal-dialog {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
}

.fade.scale.show .modal-dialog {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.fixed-top {
    z-index: 1;
}

.tooltip {
    font-family: unset;
}

.tooltip-inner {
    background-color: #464646;
    border-radius: 0;
    font-weight: 100;
    text-shadow: 0px 0px 0px #fff;
    letter-spacing: 0.6px;
}

.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
    right: 0;
    border-width: .4rem .4rem .4rem 0;
    border-right-color: #464646;
}

.bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
    left: 0;
    border-width: .4rem 0 .4rem .4rem;
    border-left-color: #464646;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
    bottom: 0;
    border-width: 0 .4rem .4rem;
    border-bottom-color: #464646;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
    top: 0;
    border-width: 0 .4rem .4rem;
    border-top-color: #464646;
}

.input-field .form-control:disabled, .form-control[readonly] {
    background-color: unset;
    opacity: 1;
}

.input-field .form-control:disabled, .form-control[readonly]:not(.no-type) {
    color: gainsboro;
}

/* MATERIAL INPUT FIELD */

.input-field {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1.25rem;
    min-width: 362px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.input-field-group .input-field,
.input-field.no-min-width {
    min-width: unset;
}

.input-field .input {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    position: relative;
}

.input-field .icon-container {
    min-width: 3rem;
    max-width: 3rem;
    min-height: 2rem;
    max-height: 2rem;
}

.input-field .icon-container,
.input-field .icon-container > * {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.input-field.error .icon-container,
.input-field.error .icon-container > * {
    color: #FF372C !important;
}

.input-field.on-focus .icon-container,
.input-field.on-focus .icon-container > * {
    color: #0596D5 !important;
}

.input-field input,
.input-field textarea {
/* .input-field select { */
    padding: 0 !important;
    font-size: 14px;
    height: 2rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

/* .input-field select {
    height: 2rem !important;
} */

.input-field textarea {
    height: 4rem;
}

.input-field .form-control:focus {
    outline: none;
    box-shadow: none;
}

.input-field .placeholder {
    position: absolute;
    font-size: 14px;
    color: #95989a;
    cursor: text;
    -webkit-transition: transform 0.2s, color 0.25s;
    transition: transform 0.2s, color 0.25s;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    text-align: left;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
    margin-bottom: 0; 
}

.input-field.error .placeholder {
    color: #FF372C;
}

.input-field .icon-container ~ .placeholder {
    margin-left: 3rem;
}

.input-field .icon-container.d-md-none ~ .placeholder {
    margin-left: 0;
}

.input-field textarea ~ .placeholder {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
}

.input-field input:focus ~ .placeholder,
.input-field input.has-value ~ .placeholder {
    transform: translateY(-1.5rem) scale(0.7);
}

.input-field textarea:focus ~ .placeholder,
.input-field textarea.has-value ~ .placeholder {
    transform: translateY(-1rem) scale(0.7);
}

/* .input-field select:focus ~ .placeholder, */
.input-field textarea:focus ~ .placeholder,
.input-field input:focus ~ .placeholder {
    color: #0596D5;
}

.input-field .bar {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    bottom: -2px;
    background-color: rgba(0, 0, 0, .1);
}

.input-field input:disabled ~ .bar {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    bottom: -2px;
    border-bottom: dashed 1px rgba(0, 0, 0, .1);
    background-color: unset;
}

.input-field input:disabled ~ .placeholder {
    color: #cccccc;
    cursor: default;
}

.input-field .bar-error,
.input-field .bar-filler {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    bottom: -2px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    -webkit-transition: background-size .2s;
    transition: background-size .2s;
}

.input-field .bar-filler {
    background-image: linear-gradient(#0596D5, #0596D5);
}

.input-field .bar-error {
    background-image: linear-gradient(#FF372C, #FF372C);
}

.input-field.error .bar-error,
.input-field .bar-filler.fill,
.input-field select:focus ~ .bar-filler,
.input-field textarea:focus ~ .bar-filler,
.input-field input:focus ~ .bar-filler {
    background-size: 100% 100%;
}

.status-text {
    margin-top: 6px;
    line-height: 1.25;
    color: #FF372C;
    font-weight: 500;
    word-break: break-all !important;
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
    text-align: left !important;
}

.input-field .input.select::after {
    font-family: "Font Awesome 5 Solid";
    /* font-weight: 900; */
    content: '\f0d7';
    position: absolute;
    top: 50%;
    right: 0;
    padding: .75rem;
    transform: translateY(-50%);
    display: none;
}

.input-field .input.select .input-field-select + svg.svg-inline--fa,
.input-field .input.select svg.fa-caret-down {
    position: absolute;
    top: 50%;
    right: 0;
    padding: .75rem;
    transform: translateY(-50%);
    width: 38px;
    height: 38px;
    background: white;
}

.input-field .input.select .placeholder {
    transform: translateY(-1.5rem) scale(0.7);
}

.input-field .input.select select {
    display: none;
}

.input-field .input.select input {
    color: #464646 !important;
}

ul.input-field-select {
    position: absolute;
    top: .75rem;
    left: 0;
    list-style-type: none;
    width: 100%;
    max-width: 100%;
    min-width: min-content;
    height: auto;
    z-index: 1001;
    padding: 0;
    margin: 0;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    text-align: left;
    overflow: hidden;
    display: block;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    transition: opacity 280ms, visibility 0ms;
}

.input-field .input.select input:focus ~ ul.input-field-select {
    max-height: -moz-min-content;
    max-height: min-content;
    opacity: 1;
    visibility: visible;
}

ul.input-field-select li {
    transition: background-color 280ms;
    padding: .75rem 1rem;
    cursor: pointer;
}

ul.input-field-select li.disabled {
    color: rgba(0,0,0,0.3);
}

ul.input-field-select li.disabled:not(:first-child) {
    cursor: default;
}

ul.input-field-select li:hover {
    background-color: rgba(0,0,0,0.05);
}

ul.input-field-select li.selected {
    background-color: rgba(0,0,0,0.08);
}

@media (max-width: 767px) {
    .input-field {
        min-width: unset;
    }

    .input-field .icon-container.d-md-none ~ .placeholder {
        margin-left: 3rem;
    }
}

.check,
.switches,
.radio {
    display: inline-flex;
}

.check input[type=checkbox] {
    display: none;
}

.check,
.radio {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.check .square {
    position: relative;
    display: flex;
    width: 16px;
    height: 16px;
}

.check .square .outer-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border-color: #a2a2a2;
    transition: all ease 280ms;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.check input[type=checkbox]:disabled + .square .outer-square {
    border-color: #e4e4e4;
}

.check .square .ripple-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    margin-top: calc((32px - 16px) / -2);
    margin-left: calc((32px - 16px) / -2);
    border-radius: 50%;
}

li.selected .check input[type=checkbox] + .square .outer-square,
.check input[type=checkbox]:checked + .square .outer-square {
    width: 8px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #26a69a;
    border-bottom: 2px solid #26a69a;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-transform-origin: 120% 80%;
    transform-origin: 120% 80%;
    border-radius: 0px;
}

li.selected .check input[type=checkbox] + .square .ripple-square,
.check input[type=checkbox]:checked + .square .ripple-square {
  -webkit-animation: click-wave 280ms;
  -moz-animation: click-wave 280ms;
  -o-animation: click-wave 280ms;
  animation: click-wave 280ms;
}

.switches label.toggle {
    position: relative;
    width: 34px;
    min-width: 34px;
    height: 18px;
    background-color: white;
    border: .1rem solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: unset;
    cursor: pointer;
}

.switches label.toggle::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0;
    margin-top: auto;
    margin-bottom: auto;
    bottom: 0;
    width: 18px;
    height: 18px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.15);
    transition: left 0.25s, background-color 0.15s;
}

.switches input[type=checkbox]:checked ~ label.toggle::before {
    left: 12px;
    background-color: #0596D5;
}

label.radio,
label.check,
.radio p {
    margin-bottom: 0;
}

.radio p {
    margin-right: .5rem;
}

.radio .circle {
    position: relative;
    display: flex;
    width: 16px;
    height: 16px;
    margin-right: .5rem;
}

.radio .circle .outer-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border-color: #a2a2a2;
    transition: border-color ease 280ms;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
}

.radio .circle .inner-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: transform ease 280ms, background-color ease 280ms;
    transform: scale(.001);
}

.radio .circle .ripple-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    margin-top: calc((32px - 16px) / -2);
    margin-left: calc((32px - 16px) / -2);
    border-radius: 50%;
    /* background-color: rgba(0, 160, 195, 0.2); */
    /* transition: transform ease 280ms, background-color ease 280ms; */
    /* transform: scale(.001); */
}

.radio input[type=radio]:checked + .circle .outer-circle {
    border-color: #0596D5;
}

.radio input[type=radio]:checked + .circle .inner-circle {
    transform: scale(.5);
    background-color: #0596D5;
}

.radio input[type=radio]:checked + .circle .ripple-circle {
  -webkit-animation: click-wave 280ms;
  -moz-animation: click-wave 280ms;
  -o-animation: click-wave 280ms;
  animation: click-wave 280ms;
}

.radio input[type=radio]:disabled + .circle .outer-circle {
    border-color: #a2a2a2 !important;
}

.radio input[type=radio]:disabled + .circle .inner-circle {
    background-color: #a2a2a2 !important;
}

@-webkit-keyframes click-wave { 
    0% {
        transform: scale(.001);
        background-color: rgba(0, 160, 195, 0.45);
    }
    100% {
        transform: scale(1);
        background-color: rgba(0, 160, 195, 0.05);
    }
}

@-moz-keyframes click-wave { 
    0% {
        transform: scale(.001);
        background-color: rgba(0, 160, 195, 0.45);
    }
    100% {
        transform: scale(1);
        background-color: rgba(0, 160, 195, 0.05);
    }
}

@-o-keyframes click-wave { 
    0% {
        transform: scale(.001);
        background-color: rgba(0, 160, 195, 0.45);
    }
    100% {
        transform: scale(1);
        background-color: rgba(0, 160, 195, 0.05);
    }
}

@keyframes click-wave { 
    0% {
        transform: scale(.001);
        background-color: rgba(0, 160, 195, 0.45);
    }
    100% {
        transform: scale(1);
        background-color: rgba(0, 160, 195, 0.05);
    }
}

/* END OF MATERIAL INPUT FIELD */

/* LINK BUTTON */

.btn-link {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.btn-link:hover {
    text-decoration: none;
}

.btn-link:focus {
    text-decoration: none;
    outline: 0;
}

/* LINK BUTTON */

.btn-group.btn-group-circle > .btn:first-child {
    border-radius: 25px 0 0 25px!important;
}

.btn-group.btn-group-circle > .btn:last-child {
    border-radius: 0 25px 25px 0!important;
}

.btn-group.btn-group-circle > .btn:only-child {
    border-radius: 25px !important;
}

/* TEXT BUTTON */
    [class*="btn-text-"] {
        border-radius: 1px;
    }
        /* Grey */

    .btn-text-grey {
        color: #a2a2a2;
        background-color: transparent;
        border-color: transparent;
    }

    .btn-text-grey:hover {
        color: #a2a2a2;
    }

    .btn-text-grey.active, .btn-text-grey:active, .btn-text-grey:focus, .show>.btn-text-grey.dropdown-toggle {
        background-color: #828282;
        background-image: none;
        border-color: #828282;
        color: #fff;
        box-shadow: none;
    }

        /* Black */

    .btn-text-black {
        color: #464646;
        background-color: transparent;
        border-color: transparent;
    }

    .btn-text-black:hover {
        color: #464646;
    }

    .btn-text-black.active, .btn-text-black:active, .btn-text-black:focus, .show>.btn-text-black.dropdown-toggle {
        background-color: #464646;
        background-image: none;
        border-color: #464646;
        color: #fff;
        box-shadow: none;
    }

        /* Red */

    .dtp-btn-cancel,
    .btn-text-red {
        color: #FF372C;
        background-color: transparent;
        border-color: transparent;
    }

    .dtp-btn-cancel:hover,
    .btn-text-red:hover {
        color: #FF372C;
    }

    .dtp-btn-cancel:active,
    .btn-text-red.active, .btn-text-red:active, .btn-text-red:focus, .show>.btn-text-red.dropdown-toggle {
        background-color: #FF372C;
        background-image: none;
        border-color: #FF372C;
        color: #fff;
        box-shadow: none;
    }

        /* Blue */
    .dtp-btn-ok,
    .btn-text-blue {
        color: #0596D5 !important;
        background-color: transparent;
        border-color: transparent;
    }

    .dtp-btn-ok:hover,
    .btn-text-blue:hover {
        color: #0596D5 !important;
    }

    .dtp-btn-ok:active,
    .btn-text-blue.active, .btn-text-blue:active, .btn-text-blue:focus, .show>.btn-text-blue.dropdown-toggle {
        background-color: #0481B7;
        background-image: none;
        border-color: #0481B7;
        color: #fff !important;
        box-shadow: none;
    }

/* END OF TEXT BUTTON */

/* BUTTON BLOCK */

        /* Black */

    .btn-black {
        color: #fff;
        background-color: #6e6e6e;
        border-color: #6e6e6e;
    }

    .btn-black:hover {
        color: #fff;
        background-color: #5a5a5a;
        border-color: #5a5a5a;
    }

    .btn-black.active {
        background-color: #5a5a5a;
        border: thin solid #5a5a5a;
        color: #fff;
    }

        /* White */

    .btn-white {
        color: #464646;
        background-color: #fff;
        border-color: rgba(0, 0, 0, .15);
    }

    .btn-white.active {
        color: #464646;
        background-color: #ececec;
        border-color: rgba(0, 0, 0, .15);
    }

    .btn-white:hover {
        color: #464646;
        background-color: #ececec;
        border-color: rgba(0, 0, 0, .15);
    }

        /* Grey */

    .btn-grey {
        color: #fff !important;
        background-color: #a2a2a2;
        border-color: #a2a2a2;
    }

    .btn-grey:hover {
        color: #fff !important;
        background-color: #828282;
        border-color: #828282;
    }

    .btn-grey.active, .btn-grey:active, .show>.btn-grey.dropdown-toggle {
        background-color: #828282;
        background-image: none;
        border-color: #828282;
        color: #fff !important;
    }

        /* Red */

    .btn-red {
        color: #fff !important;
        background-color: #FF372C;
        border-color: #FF372C;
    }

    .btn-red:hover {
        color: #fff !important;
        background-color: #ec3329;
        border-color: #ec3329;
    }

    .btn-red.active, .btn-red:active, .show>.btn-red.dropdown-toggle {
        background-color: #ec3329;
        background-image: none;
        border-color: #ec3329;
        color: #fff !important;
    }

        /* Blue */

    .btn-blue {
        color: #fff !important;
        background-color: #0596D5;
        border-color: #0596D5;
    }

    .btn-blue:hover {
        color: #fff !important;
        background-color: #0481B7;
        border-color: #0481B7;
    }

    .btn-blue.active, .btn-blue:active, .show>.btn-blue.dropdown-toggle {
        background-color: #0481B7;
        background-image: none;
        border-color: #0481B7;
        color: #fff !important;
    }

        /* Light Blue */

    .btn-light-blue {
        color: #fff !important;
        background-color: #0596D5;
        border-color: #0596D5;
    }

    .btn-light-blue:hover {
        color: #fff !important;
        background-color: #0481B7;
        border-color: #0481B7;
    }

    .btn-light-blue.active, .btn-light-blue:active, .show>.btn-light-blue.dropdown-toggle {
        background-color: #0481B7;
        background-image: none;
        border-color: #0481B7;
        color: #fff !important;
    }

/* END OF BUTTON BLOCK */

/* BUTTON OUTLINE */

    /* Black */

    .btn-outline-black {
        color: #6e6e6e;
        background-color: transparent;
        border-color: #6e6e6e;
    }

    .btn-outline-black:hover {
        color: #fff !important;
        background-color: #6e6e6e;
        border-color: #6e6e6e;
    }

    .btn-outline-black.active, .btn-outline-black:active {
        color: #fff !important;
        background-color: #5a5a5a;
        border: thin solid #5a5a5a;
    }

        /* White */

    .btn-outline-white {
        border-color: #fff;
        color: #fff;
    }

    .btn-outline-white:hover {
        color: #464646;
        background-color: #fff;
        border-color: #fff;
    }

    .btn-outline-white:focus {
        color: #464646;
        background-color: #fff;
        border-color: #fff;
    }

    .btn-outline-white.active, .btn-outline-white:active, .show>.btn-outline-white.dropdown-toggle {
        color: #464646;
        background-color: #ececec;
        border-color: #ececec;
    }

        /* Grey */

    .btn-outline-grey {
        border-color: #a2a2a2;
        background-color: transparent;
        color: #a2a2a2 !important;
    }

    .btn-outline-grey:hover {
        color: #fff !important;
        background-color: #a2a2a2;
        border-color: #a2a2a2;
    }

    .btn-outline-grey.active, .btn-outline-grey:active, .show>.btn-outline-grey.dropdown-toggle {
        color: #fff !important;
        background-color: #828282;
        border-color: #828282;
    }

        /* Blue */

    .btn-outline-blue {
        border-color: #0596D5;
        background-color: transparent;
        color: #0596D5 !important;
    }

    .btn-outline-blue:hover {
        color: #fff !important;
        background-color: #0596D5;
        border-color: #0596D5;
    }

    .btn-outline-blue.active, .btn-outline-blue:active, .show>.btn-outline-blue.dropdown-toggle {
        color: #fff !important;
        background-color: #0481B7;
        border-color: #0481B7;
    }

        /* Red */

    .btn-outline-red {
        border-color: #FF372C;
        background-color: transparent;
        color: #FF372C !important;
    }

    .btn-outline-red:hover {
        color: #fff !important;
        background-color: #FF372C;
        border-color: #FF372C;
    }

    .btn-outline-red.active, .btn-outline-red:active, .show>.btn-outline-red.dropdown-toggle {
        color: #fff !important;
        background-color: #ec3329;
        border-color: #ec3329;
    }

        /* Yellow */

    .btn-outline-yellow {
        border-color: #f0ad4e;
        color: #f0ad4e !important;
    }

    .btn-outline-yellow:hover {
        color: #fff !important;
        background-color: #f0ad4e;
        border-color: #f0ad4e;
    }

    .btn-outline-yellow.active, .btn-outline-yellow:active, .show>.btn-outline-yellow.dropdown-toggle {
        color: #fff !important;
        background-color: #d49439;
        border-color: #d49439;
    }
/* END OF BUTTON OUTLINE */

/* LABEL */

    .label {
        display: block;
        color: #fff;
        padding: 2px 5px;
        white-space: nowrap;
    }

    .label-group-vertical.label-rounded > .label:first-child {
        border-radius: 5px 5px 0 0 !important;
    }

    .label-group-vertical.label-rounded > .label:last-child {
        border-radius: 0 0 5px 5px !important;
    }

    .label-group-vertical.label-rounded > .label:only-child {
        border-radius: 5px !important;
    }

    .label.label-red {
        background-color: #FF372C;
    }

    .label.label-blue {
        background-color: #0596D5;
    }

    .label.label-grey {
        background-color: #a2a2a2;
    }

    .label.label-success {
        background-color: #39d134;
    }

    .label.label-danger {
        background-color: #FF372C;
    }

/* END OF LABEL */

.btn-icon-only {
    width: 27px !important;
    height: 27px !important;
    padding: 0 !important;
}

.btn-icon-only {
    width: 27px !important;
    height: 27px !important;
    padding: 0 !important;
    display: inline-flex;
}

.btn-icon-only * {
    margin: auto;
    display: inline-flex;
}

.btn-circle {
    border-radius: 500px !important;
}

.btn-upload {
    position: relative;
    overflow: hidden;
}

.btn-upload  input[type=file] {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1380px;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1550px;
    }
}

@media (min-width: 1800px) {
    .sliding-banner,
    .container {
        max-width: 1750px;
    }
}

/* End of Custom Bootstrap */

/* Navbar */

.navbar-brand.logo {
    background-image: url(/images/icons/logo.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    min-width: 160px;
    height: 30px;
    padding: 0;
}

section.white:not(.transparent) {
    background: radial-gradient(circle, #005991 25%, #01548b 50%, #024f85 75%, #03497e 100%);
}

.white .navbar-brand.logo {
    background-image: url(/images/icons/logo-alt.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    min-width: 160px;
    height: 30px;
    padding: 0;
}

section.white a,
section.white .lang-text {
    color: #fff;
}

.header-sidebar-container {
    width: 26px;
    height: 26px;
    z-index: 2;
}

.header-sidebar-container .open-close-animated-icon.open {
    position: fixed;
    z-index: 1;
}

.header-sidebar-container .open-close-animated-icon div:nth-child(1),
.header-sidebar-container .open-close-animated-icon div:nth-child(2),
.header-sidebar-container .open-close-animated-icon div:nth-child(3),
.header-sidebar-container .open-close-animated-icon div:nth-child(4) {
    width: 20px;
    height: 2px;
    background: #fff;
    border-radius: 50px;
    margin: 3px 0 3px auto;
    transition: all 280ms;
}

.header-sidebar-container .open-close-animated-icon div:nth-child(4) {
    top: 0;
    bottom: 0;
    margin: auto;
    visibility: hidden;
    opacity: 0;
    position: absolute;
}

.header-sidebar-container .open-close-animated-icon div:nth-child(1) {
    width: 19px;
    transform-origin: 100% 100%;
}

.header-sidebar-container .open-close-animated-icon div:nth-child(2) {
    width: 15px;
    opacity: 1;
}

.header-sidebar-container .open-close-animated-icon.open div:nth-child(1),
.header-sidebar-container .open-close-animated-icon.open div:nth-child(3) {
    opacity: 0;
}

.header-sidebar-container .open-close-animated-icon.open div:nth-child(2) {
    width: 20px;
    transform: rotate(45deg);
}

.header-sidebar-container .open-close-animated-icon.open div:nth-child(4) {
    width: 20px;
    transform: rotate(-45deg);
    opacity: 1;
    visibility: visible;
}

.header-sidebar-container .header-item {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    display: none;
}

.header-sidebar-container .header-item .back-black {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    display: block;
}

.header-sidebar-container .header-item .item-container {
    margin-left: auto;
    width: 67%;
    height: 100%;
    padding: 28px;
    background: #02578e;
    position: absolute;
    top: 0;
    right: 0;
}

.header-sidebar-container .open-close-animated-icon.open + .header-item {
    display: block;
}

.header-sidebar-container .header-item .remove-pad {
    margin-left: -28px;
    margin-right: -28px;
}

.header-sidebar-container .header-item .remove-pad a {
    padding-left: 28px;
    padding-right: 28px;
}

header {
    position: absolute;
    z-index: 1;
    width: 100%;
}

/* End of Navbar */

/* Sliding Banner Section */

.sliding-banner {
    margin: auto;
    /* max-width: 1600px;  */
}

.sliding-banner img {
    width: 100%;
    height: 449px;
    max-height: 449px;
    min-height: 449px;
    object-fit: cover;
    object-position: center;
}

/* End of Sliding Banner Section */

a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}

.h3 {
    color: #6e6e6e !important;
}

.fs-min-1 {
    font-size: 10px !important;
}

.fs-0 {
    font-size: 12px !important;
}

.fs-1 {
    font-size: 14px !important;
}

.fs-2 {
    font-size: 16px !important;
}

.fs-3 {
    font-size: 18px !important;
}

.fs-4 {
    font-size: 20px !important;
}

.fs-5 {
    font-size: 22px !important;
}

.fs-6 {
    font-size: 24px !important;
}

.fs-7 {
    font-size: 26px !important;
}

.fs-xxl {
    font-size: 32px !important;
}

.fs-3xl {
    font-size: 36px !important;
}

.no-wrap {
    white-space: nowrap;
}

.o-hidden {
    overflow: hidden;
}

.v-hidden {
    visibility: hidden;
}

.z-index-1 {
    z-index: 1;
}

.no-scroll {
    overflow: hidden;
}

.no-shadow {
    box-shadow: none;
}

.scrollable {
    overflow-y: auto;
    overflow-x: hidden;
}

.no-border {
    border: none !important;
}

.border-red {
    border-color: #FF372C !important;
}

.pointer {
    cursor: pointer;
}

.default {
    cursor: default;
}

.f-light {
    font-weight: 200 !important;
}

.f-normal {
    font-weight: 400 !important;
}

.f-bold {
    font-weight: 500 !important;
}

.f-super-bold {
    font-weight: 700 !important;
}

.bg-blue {
    background-color: #0596D5 !important;
}

.bg-dark-blue {
    background-color: #233e67 !important;
}

.bg-white {
    background-color: #fff !important;
}

.bg-dark-white {
    background-color: #f8f8f8 !important;
}

.bg-grey {
    background-color: #d4d4d4 !important;
}

.bg-light-grey {
    background-color: #eeeeef !important;
}

.bg-red {
    background-color: #FF372C !important;
}

.text-blue {
    color: #0596D5 !important;
    /* color: #03497e !important; */
}

.text-pink {
    color: #e86464 !important;
}

.text-red {
    color: #FF372C !important;
}

.text-white {
    color: #fff !important;
}

.text-black {
    color: #464646 !important;
}

.text-dark-black {
    color: #00030a !important;
}

.text-grey {
    color: #95989a !important;
}

.text-lined {
    text-decoration: line-through !important;
}

.underline {
    text-decoration: underline !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.no-select {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    user-select: none;
}

.w-10 {
    width: 10% !important;
    max-width: 10% !important;
}

.w-15 {
    width: 15% !important;
    max-width: 15% !important;
}

.w-20 {
    width: 20% !important;
    max-width: 20% !important;
}

.w-25 {
    width: 25% !important;
    max-width: 25% !important;
}

.w-30 {
    width: 30% !important;
    max-width: 30% !important;
}

.w-50 {
    width: 50% !important;
    max-width: 50% !important;
}

.w-60 {
    width: 60% !important;
    max-width: 60% !important;
}

.w-70 {
    width: 70% !important;
    max-width: 70% !important;
}

.w-80 {
    width: 80% !important;
    max-width: 80% !important;
}

.w-86 {
    width: 86% !important;
    max-width: 86% !important;
}

.w-90 {
    width: 90% !important;
    max-width: 90% !important;
}

.min-w-200px {
    min-width: 200px;
}

.max-w-30 {
    max-width: 30% !important;
}

.max-w-80 {
    max-width: 80% !important;
}

.h-20 {
    height: 20%;
}

.h-40 {
    height: 40%;
}

.h-80 {
    height: 80%;
}

.h-100vh {
    height: 100vh;
}

.hr-white {
    border-color: #fff;
}

.thick-hr {
    border-top: medium solid rgba(200, 200, 200, 1);
}

.line-height-1 {
    line-height: 1;
}

.line-height-2 {
    line-height: 1.25;
}

.line-height-4 {
    line-height: 2rem;
}

.ls-1 {
    letter-spacing: 0.01rem;
}

.ls-2 {
    letter-spacing: 0.02rem;
}

.ls-3 {
    letter-spacing: 0.03rem;
}

.word-wrap-break-word {
    word-wrap: break-word;
}

.break-word {
    word-break: break-word;
}

.break-all {
    word-break: break-all;
}

.mx-min-1 {
    margin-left: -.25rem !important;
    margin-right: -.25rem !important;
}

.my-min-0-5 {
    margin-top: -.125rem !important;
    margin-bottom: -.125rem !important;
}

.my-min-1 {
    margin-top: -.25rem !important;
    margin-bottom: -.25rem !important;
}

.mx-min-2 {
    margin-left: -.5rem !important;
    margin-right: -.5rem !important;
}

.my-min-2 {
    margin-top: -.5rem !important;
    margin-bottom: -.5rem !important;
}

.mx-min-3 {
    margin-left: -1rem !important;
    margin-right: -1rem !important;
}

.my-min-3 {
    margin-top: -1rem !important;
    margin-bottom: -1rem !important;
}

.mx-min-4 {
    margin-left: -1.5rem !important;
    margin-right: -1.5rem !important;
}

.my-min-4 {
    margin-top: -1.5rem !important;
    margin-bottom: -1.5rem !important;
}

.ml-min-2 {
    margin-left: -.5rem !important;
}

.py-0-5 {
    padding-top: .125rem !important;
    padding-bottom: .125rem !important;
}

.py-2-5 {
    padding-top: .75rem !important;
    padding-bottom: .75rem !important;
}

.pr-2-5 {
    padding-right: 0.75rem !important;
}

.pt-1-5 {
    padding-top: 0.37rem !important;
}

.mb-0-5 {
    margin-bottom: 0.125rem !important;
}

.px-4-5 {
    padding-right: 2.5rem !important;
    padding-left: 2.5rem !important;
}

.py-4-5 {
    padding-top: 2.5rem !important;
    padding-bottom: 2.5rem !important;
}

.no-shadow{
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

textarea {
    resize: none;
}

.hide {
    display: none;
}

@media (min-width: 992px) {
    .mx-lg-min-4 {
        margin-left: -1.5rem !important;
        margin-right: -1.5rem !important;
    }
}