<template>
    <section>
        <div class="sliding-banner">
            <carousel :perPage=1 :autoplay=true :loop=true :autoplayTimeout=4000 :autoplayHoverPause=true :paginationEnabled=false>
                <slide>
                    <img src="/images/banners/skyscraper.jpg">
                </slide>
                <slide>
                    <img src="/images/banners/mission-impossible-fallout.jpg">
                </slide>
                <slide>
                    <img src="/images/banners/sabrina.jpg">
                </slide>
            </carousel>
        </div>
    </section>
</template>

<script>
    import { Carousel, Slide } from 'vue-carousel';
    export default {
        mounted() {
            // console.log(VueCarousel)
        },
        components: {
            Carousel,
            Slide
        }
    }
</script>
